# Creating connection

In [1]:
### creating sql connection

import mysql.connector as sql

connection=sql.connect(
host="localhost",
user="root",
password="Dhiwarbarh7#",
database="student" #Particular database, Its up to me to select or not
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002B78FD471C0>

# Creating table in MySQL using Python

In [2]:
cursor= connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'studentinfo' already exists

# Inserting records in table

In [3]:
query="INSERT INTO studentinfo(name, subject) values(%s, %s)"
value=("sanjeev","statistics")
cursor.execute(query,value)
print("Row Inserted",cursor.lastrowid)

Row Inserted 18

# Inserting multiple records

In [4]:
query="INSERT INTO studentinfo(name, subject) values(%s, %s)"
value=[("sanjeev","statistics"),("santosh","science"),("skuma01","mathematics")]
cursor.executemany(query,value)
print("Row Inserted",cursor.lastrowid)

Row Inserted 19

# Selecting

In [5]:
cursor=connection.cursor()
cursor.execute("select *from studentinfo")

# Fetching data

In [6]:
# Fetching all the data

cursor.fetchall()

[(18, 'sanjeev', 'statistics'),
 (19, 'sanjeev', 'statistics'),
 (20, 'santosh', 'science'),
 (21, 'skuma01', 'mathematics')]

In [7]:
### Fetching one record at a time

cursor.fetchone()

# Selecting particular row

In [11]:
cursor.execute("select *from studentinfo where id=14")

In [12]:
cursor.fetchall()

[]

# Selecting particular column

In [13]:
cursor.execute("select id from studentinfo")

In [14]:
cursor.fetchall()

[(18,), (19,), (20,), (21,)]

# Drop table

In [15]:
cursor.execute("drop table studentinfo")