In [1]:
l = [1,2,3,4,"sanjeev" ,"kumar" , 45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sanjeev
kumar
45.56

In [3]:
for i in l :
    pass

In [4]:
s = "sudh"
for i in s :
    print(i)

s
u
d
h

In [5]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else ")

1
2
3
4
sanjeev
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sanjeev', 'kumar', 45.56]

In [7]:
for i in l :
    if i == 4 :
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3

In [8]:
s = "sanjeev"
for i in s :
    if i == 'z' :
        break
    print(i)
else :
    print("print srtring " , s )

s
a
n
j
e
e
v
print srtring  sanjeev

In [9]:
t = (4,5,6,7,8,6,"sanj")
for i in t :
    print(i)

4
5
6
7
8
6
sanj

In [10]:
b = {4,5,6,7,7,7,7,7,7,7,7, 8,"sanj"}

In [11]:
type(b)

set

In [12]:
b

{4, 5, 6, 7, 8, 'sanj'}

In [13]:
for i in b :
    print(i)

4
5
6
7
8
sanj

In [14]:
d = {'key1' :"sanj" , 'contact' : "sanjeev80@gmail.com" , "position" : "xyz"}

In [15]:
for i in d :
    print(i ,":" ,  d[i] )

key1 : sanj
contact : sanjeev80@gmail.com
position : xyz

In [16]:
d['key1']

'sanj'

In [17]:
range(9)

range(0, 9)

In [18]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [20]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
list(range(0,9 , 2))

[0, 2, 4, 6, 8]

In [22]:
list(range(0,9 , -1))

[]

In [23]:
list(range(9,0 , -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [24]:
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("sanj" , end = "   ")
    print("\n")

sanj

sanj   sanj

sanj   sanj   sanj

sanj   sanj   sanj   sanj

In [25]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print(" " * len("sudh"),end=" ")
    for j in range(i+1):
        print("sudh",end=" ")
    for j in range(i): 
        print("sudh",end=" ")
    print()

          sudh
     sudh sudh sudh
sudh sudh sudh sudh sudh

In [26]:
n=4
k=n
for i in range(n):
    k=k-1
    print('  '*k, end='')
    for j in range(i+1):
        print('sanj ', end= '')
    print()

      sanj
    sanj sanj
  sanj sanj sanj
sanj sanj sanj sanj

In [27]:
n=3
for i in range(n):
    for j in range(i,n-1):
        print("",end=' ')
    for j in range(i+1):
        print("sudh",end=' ')
    print()

  sudh
 sudh sudh
sudh sudh sudh

In [28]:
n = 3

for i in range(n+1):
    print(' '*(n-i) + 'sudh '*i)

  sudh
 sudh sudh
sudh sudh sudh

In [29]:
list(range(0))

[]

In [30]:
t = (3,23,45,67,2,4,5,6)

In [31]:
t[0]

3

In [32]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [33]:
list(range(len(t)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [34]:
t = (3,23,45,67,2,4,5,6)

for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [35]:
s = "ineuron"
for i in range(len(s)) : 
    print(i , s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [36]:
s

'ineuron'

In [37]:
for i in range(len(s)-1 , -1, -1):
    print(i , s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [38]:
for i in d.items():
    print(i , type(i) , type(i[1]))

('key1', 'sanj') <class 'tuple'> <class 'str'>
('contact', 'sanjeev80@gmail.com') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [39]:
l = ["sudh" , "kuamr" , 3234545 , "sudhanshu@ineuron.ai" , 345, 34345353]
l1 = []
for i in l :
    if type(i) == int :
        l1.append(i)

In [40]:
l1

[3234545, 345, 34345353]

In [41]:
 d = {1: 3345345  , "name" : "sudh" , "email_id" : "sanjeev80@gmail.com" , 234 : "fsfddsf" , "43" : "sfsaf" , 234 : "3454"}

In [42]:
for i in d :
    if type(i) == int :
        print(i , ":"  , d[i])

1 : 3345345
234 : 3454

In [43]:
s = "aaaabbccd"

In [44]:
for i in set(s):
    print(i  , ":" , s.count(i))

d : 1
a : 4
c : 2
b : 2

In [45]:
s.count('a')

4

In [46]:
i = 34534654646435
for j in str(i) :
    print(int(j ), type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
3 <class 'int'>
4 <class 'int'>
6 <class 'int'>
5 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
6 <class 'int'>
4 <class 'int'>
3 <class 'int'>
5 <class 'int'>

In [47]:
str(i)

'34534654646435'

In [48]:
t = ("sanj" , "kumar" ,[1,2,3,4,5] , (3,4,5,6) , {3:3 , "key2" :"kumar"})

In [49]:
t=("sanj","kumar",[1,3,5,7,4],(3,5,88,4),{3:3,3:"kjshdf","key1":"sudh","key2":"kumar"})

In [50]:
for i in t :
    if type(i) == list or type(i) == tuple :
        for j in i :
            if j == 3 :
                print(j)
    if type(i) == dict :
        for k,v  in i.items():
            if k == 3 or v == 3 :
                print(k)
                print(v)

3
3
3
kjshdf

In [51]:
d = {4:5 , "key1" : "sanj" , "key2" : "kumar"}

In [52]:
d.items()

dict_items([(4, 5), ('key1', 'sanj'), ('key2', 'kumar')])

In [53]:
for i in d.items():
    print(i)

(4, 5)
('key1', 'sanj')
('key2', 'kumar')

In [54]:
d.items()

dict_items([(4, 5), ('key1', 'sanj'), ('key2', 'kumar')])

In [55]:
a = 10 
b = 20
c = 30

In [56]:
a , b , c = 10 , 20 , 30

In [57]:
a,b,c = (10,20,30)

In [58]:
for i in range(4):
    for j in range(0,i+1):
        print("sanjeev",end=" ")
    print("\n")

sanjeev

sanjeev sanjeev

sanjeev sanjeev sanjeev

sanjeev sanjeev sanjeev sanjeev

In [59]:
d1 = {}
d1['a'] == None

KeyError: 'a'

In [60]:
s="aaaabbccd"
d = {}
for i in set(s) : 
    d[i] =  s.count(i)

In [61]:
d

{'d': 1, 'a': 4, 'c': 2, 'b': 2}

In [62]:
l = list(range(6,-1,-1))
s = 'ineuron'
t = (l,s)

t

([6, 5, 4, 3, 2, 1, 0], 'ineuron')

In [63]:
d

{'d': 1, 'a': 4, 'c': 2, 'b': 2}

In [64]:
d.items()

dict_items([('d', 1), ('a', 4), ('c', 2), ('b', 2)])

In [65]:
i = j = [3]
i = [3] + [3]
print(i,j)

[3, 3] [3]

In [66]:
set = {"python", "coding", "tips", "for", "beginners"}
print(set)
' '.join(set)

{'python', 'beginners', 'coding', 'for', 'tips'}

'python beginners coding for tips'

In [67]:
tuple = ("python", "coding", "tips", "for", "beginners")
print(tuple)
' '.join(tuple)

('python', 'coding', 'tips', 'for', 'beginners')

'python coding tips for beginners'

In [68]:
print(dict(("py", "th", "on")))

{'p': 'y', 't': 'h', 'o': 'n'}

In [69]:
i = j = [3]
i += j
print(i,j)

[3, 3] [3, 3]

In [70]:
s = {1,1,1,11,1,1,4,4,4,4}

In [71]:
s.add(3)

In [72]:
for i in range(4) :
    for j in range (0 , i+1) :
        print("sudh" , end = "*")
    print()

sudh*
sudh*sudh*
sudh*sudh*sudh*
sudh*sudh*sudh*sudh*

In [73]:
l= [(3,4,5,6) , [2,4,5,5,6] , {'k1' : 'v1' , 'k2' :'v2'}]
l1 = []

In [74]:
for i in l :
    if type(i) == list or type( i )== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [75]:
l1

[2, 4, 5, 5, 6, 'k1', 'v1', 'k2', 'v2']

In [76]:
5%2

1

In [77]:
a = "sanj"

if "3" in a:
    print("yes")
else:
    print("No")

No

In [78]:
for i in range(4) :
    for j in range(0,i+1) :
        print("sudh" , end =" ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [79]:
n=3
for i in range (n):
    for j in range(i,n-1):
        print("" *len("sanj"),end= " ")
    for j in range (i+1):
        print("sanj",end=" " )
    for j in range(i):
        print("sanj",end= " ")
    print()

  sanj
 sanj sanj sanj
sanj sanj sanj sanj sanj

In [80]:
b = input()

12