## Day-1

In [2]:
s = "this is My First Python programming class and i am learNING python string and its function"

### 1. Try to extract data from index one to index 300 with a jump of 3.

In [3]:
s[0:300:3]

'tssyityopgmncsa alrNph rgni ni'

### 2. Try to reverse a string without using reverse function.

In [4]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

### 3. Try to split a string after conversion of entire string in uppercase.

In [5]:
s1=s.upper()
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [6]:
s.upper().split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

### 4. Try to convert the whole string into lower case.

In [7]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

### 5 . Try to capitalize the whole string.

In [8]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

### 6. Write a diference between isalnum() and isalpha().

In [13]:
#The isalnum () method returns True if all the characters are alphanumeric, meaning alphabet letter (a-z) and numbers (0-9). 

s1="sanj123"
s1.isalnum()

True

In [14]:
# isalpha () methods returns “True” if all characters in the string are alphabets, Otherwise, It returns “False”.

s2='sanjeeV'
s2.isalpha()

True

### 7. Try to give an example of expand tab.

In [15]:
#Python String expandtabs () method returns the number of occurrences of a specified value in a string.

s4 = "xyzyu\t12345\tabc"
s4.expandtabs()

'xyzyu   12345   abc'

### 8. Give an example of strip , lstrip and rstrip.

In [16]:
s5="       sanj           "

In [17]:
s5.strip()

'sanj'

In [18]:
s5.lstrip()

'sanj           '

In [19]:
s5.rstrip()

'       sanj'

### 9. Replace a string charecter by another charector by taking your own example "sudhanshu".

In [20]:
ad = "Cold storage"    
ad.replace("storage" , "container")

'Cold container'

In [21]:
ad1= "Sanjeev Kumar"
ad1.replace("Kumar","Singh")

'Sanjeev Singh'

### 10. Try to give a definition of string center function with and exmple.

In [22]:
a = "Sanjeev"
a.center(10,"*")

'*Sanjeev**'

### 11. Write your own definition of compiler and interpretor without copy paste form internet in your own language.

Difference - Compiler executes the whole code in one turn whereas Interpretor executes the code line by line.

By The Way, We use both compilers and interpreters to convert the language we wrote the code in to binary language
so machine can understand

### 12. Try to write a usecase of python with your understanding.

Python is commonly used for :- 
a) Web Development
b) Machine Learning
c) Data Visualization
d) Data Science
e) Robotics.

## Day-2

In [37]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

### 13. Try to reverse a list.

In [26]:
l[::-1]

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

### 14. Try to access 234 out of this list.

In [29]:
l[7][0]

234

### 15. Try to access 456.

In [34]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [39]:
l[5][1]

456

### 16. Try to extract only a list collection form list l.

In [40]:
l[5:7]

[[23, 456, 67, 8, 78, 78], [345, 56, 87, 8, 98, 9]]

In [41]:
l[5]

[23, 456, 67, 8, 78, 78]

### 17. Try to extract "sudh".

In [42]:
l[8]['key1']

'sudh'

### 18. Try to list all the key in dict element avaible in list.

In [43]:
list(l[8].keys())

['key1', 234]

### 19. Try to extract all the value element form dict available in list.

In [44]:
list(l[8].values())

['sudh', [23, 45, 656]]

# Day-3

#### 20. 
    ineruon 
    ineruon ineruon 
    ineruon ineruon ineruon
    ineruon ineruon ineruon ineruon

In [57]:
for i in range(4) :
    for j in range(0 ,i+1) : 
        print("ineuron" , end = "   ")
    print("\n")

ineuron

ineuron   ineuron

ineuron   ineuron   ineuron

ineuron   ineuron   ineuron   ineuron

### 21.
         ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

In [58]:
for i in range(6):
    if i <= 3:
        n = i
    else:
        n = 6 - i
    print(("ineuron "*n).center(30,' '))

           ineuron
       ineuron ineuron
   ineuron ineuron ineuron
       ineuron ineuron
           ineuron

In [59]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [60]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

### 22. Try to extract all the list entity.

In [61]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

### 23. Try to extract all the dict enteties.

In [62]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

### 24. Try to extract all the tuples entities.

In [63]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

### 25. Try to find out number of keys in dict element.

In [64]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [65]:
for i in l :
    if type(i) == dict :
        print(len(i))

5

### 26. Try to filter out all the string data.

In [69]:
for i in l :
    if type(i) == str:
        print(i)