In [9]:
def test(a , b) :
    """this is my function for concatination or addition """
    return a + b

In [10]:
test(4,6)

10

In [4]:
test("sudh" , "kumar")

'sudhkumar'

In [5]:
test(a = 9  , b = 6 )

15

In [6]:
test(b = 45 , a = 3)

48

In [ ]:
print()

In [11]:
def test1(a,b,c,d,e) :
    return a ,b ,c,d,e

In [14]:
test1(3,4,5,6)

TypeError: test1() missing 1 required positional argument: 'e'

In [15]:
def test(*a):
    return a

In [16]:
test(34,56)

(34, 56)

In [17]:
test(2,3,4,4)

(2, 3, 4, 4)

In [18]:
test(4,5,6,6,6,[3,4,5,5,5,6])

(4, 5, 6, 6, 6, [3, 4, 5, 5, 5, 6])

In [19]:
def test4(*args):
    return args

In [20]:
test4(34,56,6,76,7)

(34, 56, 6, 76, 7)

In [21]:
def test5(*a) :
    l = []
    for i in a :
        l.append(i)
    return l

In [22]:
test5(2,3,4,45,5,[345,56,5,6])

[2, 3, 4, 45, 5, [345, 56, 5, 6]]

In [23]:
test5(3,4,5,56)

[3, 4, 5, 56]

In [24]:
def test6(a,b,c,d , *m):
    return a , b, c,d, m

In [25]:
test6(3,4,5,5,6,6,7,7,8,8)

(3, 4, 5, 5, (6, 6, 7, 7, 8, 8))

In [31]:
def test7(*m,a,b,c,d,e):
    return m , a,b,c,d,e

In [29]:
test7(4,5,65,6,6,7,7,56,a = 67,b  = 34,c = 54,d= 67,e = 78)

((4, 5, 65, 6, 6, 7, 7, 56), 67, 34, 54, 67, 78)

In [32]:
def test8(**sudh):
    return sudh

In [39]:
test8(b = 4,c = 5,d =  6,e = 6 , n = [3,4,45,5,6,6,6])

{'b': 4, 'c': 5, 'd': 6, 'e': 6, 'n': [3, 4, 45, 5, 6, 6, 6]}

In [ ]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
        return n

In [ ]:
test11(2,3,4,5,6,7,8)

In [37]:
d = {'b': 4, 'c': 5, 'd': 6, 'e': 6}

In [38]:
test8(d)

TypeError: test8() takes 0 positional arguments but 1 was given

In [40]:
def test9(*m , **s) :
    return m , s

In [42]:
test9(345,45,56,5,6,56,b= 4,c= 6, d = 7 , g = 9)

((345, 45, 56, 5, 6, 56), {'b': 4, 'c': 6, 'd': 7, 'g': 9})

In [44]:
def test10(*m):
    n = 0
    for i in m :
        if type(i) == int :
            n = n+i
    return n

In [45]:
test10(2,3,4,5,5,6,6)

31

In [46]:
test10(2,3,4)

9

In [47]:
def test1(*m):
    n = 1
    for i in m :
        if type(i) == int :
            n = n*i
    return n

In [48]:
test1(4,5,6,6,7,87,8)

3507840

In [50]:
n = lambda a , b : a + b

In [52]:
n(4,5)

9

In [53]:
def test5(a,b):
    return a + b

In [54]:
test5(4,5)

9

In [55]:
n(5,6)

11

In [56]:
b = lambda *sudh : sudh

In [57]:
b(45,5,4,5,5,6,677)

(45, 5, 4, 5, 5, 6, 677)

In [58]:
t = (3,4,4,5,5,6,67,7,7)
l = []
for i in t :
    l.append(i)

In [59]:
l

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [61]:
[i for i in t]

[3, 4, 4, 5, 5, 6, 67, 7, 7]

In [62]:
s = "sudh"

In [63]:
[i for i in s ]

['s', 'u', 'd', 'h']

In [64]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [65]:
l = []
for i in range(10):
    l.append(i*i)

In [66]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
l = lambda *x : [i**2 for i in x ]

In [70]:
l(4,45,5,6,6,7,8,9)

[16, 2025, 25, 36, 36, 49, 64, 81]

In [ ]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

In [ ]:
def test14(**kwargs) :

In [140]:
l = lambda *x : [i for i in x]

In [81]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v) == str:
            count += 1
        if type(v) == list :
            for i in v :
                if type(i) == str :
                    count+= 1
    return count

In [82]:
test14(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

{'a': 7, 'b': 'sudh', 'c': 345, 'd': 'sudh', 'l': [2, 3, 4, 45, 'sudh']}
dict_values([7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']])

3

In [83]:
def test15(**kwargs) :
    return list(kwargs.values())

In [84]:
test15(a = 7 , b = "sudh" , c = 345 , d = "sudh" , l = [2,3,4,45 , "sudh"])

[7, 'sudh', 345, 'sudh', [2, 3, 4, 45, 'sudh']]

In [ ]:
Todays task :
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

In [85]:
def test4(a, b, c, *m):
  return a, b, c, m

test4(5,6,2,4,[5,2])

(5, 6, 2, (4, [5, 2]))

In [88]:
b= lambda *a : a 
b(1,2,3)

(1, 2, 3)

In [89]:
n=10
[i for i in n]

TypeError: 'int' object is not iterable

In [92]:
def test15(**kwargs):
    return list(kwargs.values())
test15(a1=1,12=2,13=12)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_7960/1148533526.py, line 3)

In [93]:
t=(1,2,3,4)
[i for i in t]

[1, 2, 3, 4]

In [94]:
l = lambda *x: [i**2 for i in x]

In [95]:
l(4,5,6,7)

[16, 25, 36, 49]

In [98]:
def test10(*m):
    n=1
    for i in m:
        if type(i) == int :
            n=n*i
    return n

In [99]:
test10(4,4,5,5,6)

2400

In [101]:
L=[1,2,4,5,[1,3,4,6]]

L.pop(2)
L

[1, 2, 5, [1, 3, 4, 6]]

In [103]:
b=lambda *a : a
b(1,2,3)

(1, 2, 3)

In [105]:
def test5(*a,x,y,z):
    return *a,x,y,z,
test5 (8,8,9,9,7,7,7,3,x=5,y=7,z=5)

(8, 8, 9, 9, 7, 7, 7, 3, 5, 7, 5)

In [108]:
s='Deepak'

s[-1::-1]

'kapeeD'

In [107]:
s[0:6:-1]

''

In [109]:
def aad(a,b):
    '''this is my functionde'''
    z = a+b
    return z
    h = a*b
    return h

In [110]:
aad(1,2)

3

In [113]:
def test10(*m , **sm):
    return m,sm

In [114]:
s="ajezon"
a=0 
v='aeiou'
while a < len(s):
    if s[a] in v :
        print(s.replace(s[a] ,"*"))
    a = a + 1

*jezon
aj*zon
ajez*n

In [115]:
find_status= lambda a: 'Low' if (a<5000) elif a>=5000 and a<=25000 'Standard' else 'High'

SyntaxError: invalid syntax (Temp/ipykernel_7960/2806367668.py, line 1)

In [116]:
d={"ab":1,'cd':2,'ef':3}

for k in d:
    print(k)

ab
cd
ef

In [ ]:
# I want to perform multiplication using lambda functions, how can we do it?

m=3
b = lambda *args : [m=m*i for i in args]

b(2,3)

In [118]:
t = (3, 4, 5, 6, 78)
l = [i for i in t]
print(l)
ab = list(j for j in l)
print(ab)

[3, 4, 5, 6, 78]
[3, 4, 5, 6, 78]

In [121]:
def test14(**kwargs):
    count = 0
    print(kwargs)
    print(kwargs.values())
    for v in kwargs.values():
        if type(v)==str:
            count+=1
        if type(v)==list:
            count+=1
    return count

test14(a=7,b="Shan",c=345,d="dd",l=[2,3,4,5,"Su"])

{'a': 7, 'b': 'Shan', 'c': 345, 'd': 'dd', 'l': [2, 3, 4, 5, 'Su']}
dict_values([7, 'Shan', 345, 'dd', [2, 3, 4, 5, 'Su']])

3

In [124]:
def test15(**kwargs):
    {i:j for i,j in kwargs.items()}

In [125]:
def test14(**kargs):
    count=0
    print(kargs.values())
    for i in kargs.values():
        print(i)
        print(type(i) == str)
        if type(i) == str:
            count=count+1
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    count=count+1
    return count

In [126]:
def func(**kwargs):
    count = 0
    for e in kwargs.values():
        if type(e) == list:
            for ele in  e:
                if type(ele) == str:
                    count += 1
    return count
func(v1 = 2,v2 = 3,v3=4, v4=5,name="Mohamed", data=["ineuron", "MLDL", 2021])

2

In [127]:
l= lambda *x : [i*2 for i in x]
l(2,3,4,5)

[4, 6, 8, 10]

In [128]:
def func(**kwargs):
    count = 0
    for e in kwargs.values():
        if type(e) == list:
            for ele in  e:
                if type(ele) == str:
                    count += 1
    return count
func(v1 = 2,v2 = 3,v3=4, v4=5,name="Mohamed", data=["ineuron", "MLDL", 2021])

2

In [130]:
def test15(**kwargs):
    return list(kwargs.values())

In [131]:
test15(a=7,b='Abhi',c=345,d='Abhi',l=[2,3,45,'Abhi'])

[7, 'Abhi', 345, 'Abhi', [2, 3, 45, 'Abhi']]

In [132]:
n=3
for i in range(n+1):
    print(" "* (n-i) + 'pawan  '*i,"\n")

  pawan

 pawan  pawan

pawan  pawan  pawan

In [138]:
data = [1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'k2',
 'k3',
 3,
 7,
 'sudh',
 'ineuron',
 'kumar',
 6,
 8,
 'ineuron',
 'data science']

for i in data:
    
    if type(i) == str:
        print(i)
        if i.isalnum(): 
            print(i)

k1
k1
k2
k2
k3
k3
sudh
sudh
ineuron
ineuron
kumar
kumar
ineuron
ineuron
data science

In [139]:
b=lambda *sudh : sudh
b(45,5,4,5,5,6,677)

(45, 5, 4, 5, 5, 6, 677)

In [ ]:
def test11(*m):
    n=1
    for i in m:
        if type(i)==int:
            n=n*i
        return n

In [142]:
def test13(**kwargs):
    count = 0
    for i in kwargs.values():
        if type(i) == str or type(i) == list: 
            for j in i:
                count += 1
        return count

In [145]:
def test15(**s):
    return {i:j for i,j in s.items()}

In [146]:
test15(a = 1 , b  = 5 , n = 4 )

{'a': 1, 'b': 5, 'n': 4}