## 30th_July_Task

In [1]:
import pandas as pd

In [2]:
agent_data = pd.read_csv("D:\AgentPerformance.csv")

In [3]:
agent_data.head()

,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
0,1,7/30/2022,Prerna Singh,11,0:00:38,0:04:20,4.11,9
1,2,7/30/2022,Nandani Gupta,11,0:01:15,0:28:25,3.14,7
2,3,7/30/2022,Ameya Jain,14,0:00:30,0:11:36,4.55,11
3,4,7/30/2022,Mahesh Sarade,14,0:01:04,0:15:46,4.71,7
4,5,7/30/2022,Swati,14,0:01:11,0:16:33,3.67,6

In [4]:
agent_data['Date']

0       7/30/2022
1       7/30/2022
2       7/30/2022
3       7/30/2022
4       7/30/2022
          ...
2155     7/1/2022
2156     7/1/2022
2157     7/1/2022
2158     7/1/2022
2159     7/1/2022
Name: Date, Length: 2160, dtype: object

In [5]:
agent_data.dtypes

SL No                        int64
Date                        object
Agent Name                  object
Total Chats                  int64
Average Response Time       object
Average Resolution Time     object
Average Rating             float64
Total Feedback               int64
dtype: object

In [12]:
agent_data["Date"] = agent_data["Date"].astype('datetime64[ns]')

In [13]:
agent_data["day"] = agent_data['Date'].apply (lambda r :r.day)
agent_data["month"] = agent_data['Date'].apply (lambda r :r.month)
agent_data["year"] = agent_data['Date'].apply (lambda r :r.year)
agent_data["week"] = agent_data['Date'].apply (lambda r :r.week)

### 1. Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave.

In [15]:
agent_week_rating = agent_data[(agent_data["Average Rating"] != 0) & 
                               (agent_data["Agent Name"] == "Prerna Singh")][["Agent Name","Average Rating","week"]].groupby("week")
agent_week_rating

### 2. Total working days for each agents.

In [ ]:
agent_individual = agent_data[agent_data["Agent_Name"] == "Prerna Singh"]
agent_working = agent_individual[agent_individual["Total_Chats"] != 0][["day"]]
len(agent_working["day"])

#There seems to be some error in data entry but it does not affect the count

### 3. Total query that you hvae taken.

In [19]:
agent_data['Total Chats'].sum()

14720

### 4. Total Feedback that you have received.

In [20]:
agent_data['Total Feedback'].sum()

9259

In [21]:
agent_data.columns

Index(['SL No', 'Date', 'Agent Name', 'Total Chats', 'Average Response Time',
       'Average Resolution Time', 'Average Rating', 'Total Feedback', 'day',
       'month', 'year', 'week'],
      dtype='object')

### 5. Agent name who have average rating between 3.5 to 4.

In [23]:
agent_data[(agent_data["Average Rating"] >3.5) & (agent_data["Average Rating"]<4)][["Average Rating","Agent Name"]]

      Average Rating           Agent Name
4               3.67               Swati
10              3.60         Manjunatha A
76              3.75        Prateek _iot
78              3.79        Nandani Gupta
80              3.95        Jaydeep Dixit
...              ...                  ...
1869            3.78  Boktiar Ahmed Bappy
1874            3.80        Ayushi Mishra
1941            3.80       Jawala Prakash
2021            3.54        Aditya Shinde
2023            3.71     Deepranjan Gupta

[78 rows x 2 columns]

### 6. Agent name who have rating lesss then 3.5.

In [24]:
agent_data[agent_data["Average Rating"]<3.5][["Average Rating","Agent Name"]]

      Average Rating          Agent Name
1               3.14       Nandani Gupta
19              0.00    Hitesh Choudhary
20              0.00          Sanjeevan
21              0.00            Anirudh
22              0.00    Shiva Srivastava
...              ...                 ...
2155            0.00   Sowmiya Sivakumar
2156            0.00             Nitin M
2157            0.00              Vivek
2158            0.00       Ayushi Mishra
2159            0.00  Chaitra K Hiremath

[1474 rows x 2 columns]